// Base colors
Teal = #00aaa6
LightTeal = #bce4e3
Black = #231f20

// Accent colors
Green = #8dc63f
Pink = #f6a2a8
Red = #ee3124
Orange = #f89728
Brown = #572700

// Other color related sections
// for consistent drop shadows for buttons and menus
Shadow = 0px 3px 6px rgba(0,0,0,0.2)
