@import '../../styles/breakpoints'

#content {
  display: grid;

  +greater-than(desktop) {
    grid-template-columns: 1fr;
  }

  grid-template-columns: 1fr;
  grid-template-areas: 'info';

  +less-than(tablet) {
    grid-template-columns: 98vw;
    grid-template-areas: 'info';
  }

  justify-items: center;
}

.center
  display flex
  width 100vw
  height 90vh
  justify-content center
  align-items center

.text-center
  text-align center

.dataEntry {
  padding 15px
  grid-area entry
  display flex
  justify-content center
  align-items center
}